{% extends "base.html" %}

{% block title %}Главная страница{% endblock %}

{% block content %}
    <h2>Добро пожаловать!</h2>
    <p>Мы рады приветствовать вас на нашем сайте! Здесь вы найдете всю необходимую информацию о спортивном инвентаре.</p>
    
    <section>
        <h3>Наши преимущества</h3>
        <ul>
            <li>Широкий ассортимент</li>
            <li>Качественное оборудование</li>
            <li>Профессиональная поддержка</li>
        </ul>
    </section>
{% endblock %}